<button  pButton pRipple label="Open" class="p-button-success" (click)="Open()"></button>

<router-outlet></router-outlet>

<div class="Popup" *ngIf="Popup">
    
    <div class="heading">
        <a class="Back-btn"><i class="bi bi-arrow-left"></i></a>

        <p-button class="Close-btn" icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text" [style]="{width:'25px', height:'25px'}" (onClick)="Close()"></p-button>
    
        <h2>Let's Set Up Your Account</h2>
    </div>
    <form >
        <p-header>Profile For</p-header>
        <p-dropdown name="selectedCity"  [options]="cities" optionLabel="name" [(ngModel)]="selectedCity" [style]="{width: '100%'}"  (onChange)="OnSelect(selectedCity?.name)"></p-dropdown>
        <p-header>Profile Name</p-header>
        <div class="card flex  justify-content-space-between">
            <input class="left-Input" type="text" pInputText />
            <input type="text" pInputText />
        </div>

        <button pButton pRipple label="Next" class="p-button1" (click)="Next()"></button>
    </form>
</div>
